<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a.dot7">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/dot7"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dot7"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="sendotp.key"
            android:value="@string/sendotp_key" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="a.common.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity" />
        <activity android:name=".ScreenSlideActivity" />
        <activity
            android:name=".Register"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Login"
            android:theme="@style/LoginTheme" />
        <activity android:name="a.common.OTP_Reader" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Set_New_Password" />
        <activity
            android:name="a.common.TempActivity"
            android:label="@string/title_activity_temp"
            android:theme="@style/AppTheme" />
        <activity android:name=".Otp" />
        <activity
            android:name=".restaurant_recycler_view"
            android:theme="@style/LoginTheme"/>
    </application>

</manifest>